page-add {

    .multiplelines{
        font-size: 14px;
        padding-left: 16px;

        .text-input{
            line-height: 25px;
            padding-top: 5px;
            padding-bottom: 5px;
            height: 100%;
        }

        &.threelines{
            height: 80px;
        }
        &.twolines{
            height: 60px;
        }
    }
    .file_input{
        font-size: 0rem;
        height: 0;
        width: 0
    }
    .coverImg{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 160px;
        margin: 10px 0;

        .img{
            width: 160px;
            height: 160px;
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            background-color: rgba(0,0, 0, .05);
            border-radius: 10px;

            &.defImg{
                background-image: url('../assets/imgs/book.png');
            }
        }
        
    }
    .label{
        font-size: 14px;
        min-width: 46px;
        font-weight: 500;
        color: $dark_8;
    }
    .text-input{
        line-height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        color: $dark_4;
        font-size: 14px;
    }
    .btns{
        .label{
            display: flex;
            justify-content: space-around;

            .search_btn{
                height: 36px;
                padding: 0 20px;

                ion-spinner{
                    margin-left: 20px;
                    
                    * {
                        width: 28px;
                        height: 28px;
                        stroke: white !important;
                    }
                }
            }
            .scan{
                height: 36px;
                padding: 0 20px;
            }
        }
    }
    .delete_btn{
        display: block;
        margin: 10px auto;
    }
    .bordrtop{
        .item-inner{
            border-top: 0.55px solid #c8c7cc;
        }
    }
}
